.DS_Store
internalKeyboardDisabler/.DS_Store
internalKeyboardDisabler.xcodeproj/project.xcworkspace/xcuserdata/*
internalKeyboardDisabler.xcodeproj/project.xcworkspace/xcshareddata/*
internalKeyboardDisabler.xcodeproj/xcuserdata/
